/* PALETA DE COLORES */
:root {
    --myturquoise1-color:#69D2E7;
    --myturquoise2-color:#A7DBD8;
    --myneutral-color:#E0E4CC;
    --myorange1-color:#F38630;
    --myorange2-color:#FA6900;
}

$colorArticuloImpar:var(--myturquoise1-color);
$colorArticuloPar:var(--myturquoise2-color);

/* RESETEO DE CSS */
* {
    margin: 0;
    padding: 0;
}

/* ESTILO DE TEXTO */

.titulo{
    color: var(--myturquoise1-color);
    font-family: 'Staatliches', cursive;
    // font-family: 'Style Script', cursive;
    text-align: center;
    font-size: 50px;
}

.letraPrecio{
    color: chartreuse;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}

.letraArticulos{
    font-family: 'Staatliches', cursive;
}

p{
    color: black;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
}

article {
    height: 350px;
    width: 100%;
}

section ul{
    display: block;
}

section ul li{
    margin-bottom: 15px;
}

section img{
    width: 100%;
    height: auto;
}

.productoEscalar{
    &:hover{
        transform: scale(1.1);
    }
}

// SE UTILIZO MIXIN PARA MANEJAR EL COLOR DE LOS ARTICULOS
@mixin articulos ($colorArticuloImpar,$ColorArticuloPar,$tamanioLetra,$tamanioLetraSub){
        &--colorImpar{
            background-color: $colorArticuloImpar;
        }
    
        &--colorPar{
            background-color: $colorArticuloPar;
        }
    
        &--titulo{
            font-size: $tamanioLetra;
            text-align: center;
            color: black;
            font-weight: bold;
        }

        &--subtitulo{
            font-size: $tamanioLetraSub;
            text-align: center;
        }
    
        &--parrafo{
            text-align: center;
        }

        &--parrafoIzq{
            text-align: left;
        }
        
        &--letra{
            font-family: 'Staatliches', cursive;
            font-size:medium;
            color: black;
        }

}

.articulo{

    @include articulos(var(--myturquoise1-color) , var(--myturquoise2-color),30px,20px)
}

.espacioAbajo{
    margin-bottom: 20px;
}

/* ESTILOS DE IMAGENES - IMAGENES DE FONDO - BANNER */
banner img {
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* COLORES DE FONDOS */

body {
    background-color: white;
}


